.navbar {
    border-radius: 1.5rem;
    width: 100%;
    
}

.nav-links {
    font-family: 'Aloja', c ; /* font family */
    font-size: larger;
  }

  #basic-nav-dropdown {
    font-family: 'Aloja', c ; /* font family */
    font-size: larger;
  }

  .register-button {
    margin-right: 20px;
  }
  
  /* src/components/Navbar.css */
.navbar-logo {
  max-width: 270px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-logo {
      max-width: 150px; /* Adjust this value as needed */
  }
}
